<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ALL COURSES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allCourses.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/9d595d1bf3.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <div class="logos">
        <a href="index.html"><img class="logo-img" src="../images/logo.avif"></a>
      <label class="logo">StudyEasy</label>
    </div>
      <ul>
        <li class="link"><a class="active anc" href="main">Home</a></li>
        <li class="link"><a class="anc" href="allCourses">ALL COURSES</a></li>
        <li class="link"><a class="anc" href="addCourse">ADD COURSE</a></li>
        <li class="link"><a class="anc" href="#">Feedback</a></li>
        <li class="link"><a class="anc"  href="#">About</a></li>
        <li class="profile">
        <i class="fa-regular fa-user"></i>
        <p class="proLink"><%= profile.name %></p></li>
      </ul>
    </nav>
    <section class="course-section">
        <h1>All Courses</h1>
        <ul class="course-list">
            <% courses.forEach(course => { %>
                <li class="course-item">
                    <img src="<%= course.courseImage %>" alt="Course Image" class="course-image">
                    <h2 class="course-title"><%= course.courseTitle %></h2>
                    <p class="course-content"><%= course.content %></p>
                    <a href="/addTopic?courseTitle=<%= encodeURIComponent(course.courseTitle) %>"><button class="add-topic">Add Topic</button></a>
                </li>
            <% }); %>
        </ul>
    </section>

  </body>
</html>